/*


    font-family: 'Archivo Black', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;


*/

body {font-family: 'Archivo', sans-serif; background-color: black; color: white; line-height: 1.75rem;}
a {font-weight:bold;}
a:hover {text-decoration: none;}
.row { margin: 10px 0 10px 0;}
.black {background-color: black !important;}
.trailer {margin-top: 30px;}
.content {padding: 0 0 0 0;}
.gallery {margin-top:25px !important;}
.thumb {padding-bottom:15px;}



footer {text-align: center; margin-top:30px;}
.font-small {font-size: 0.8em;}


.navbar-nav {margin-left:auto;}
.navbar h1 {text-transform:uppercase;}

.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height:0;
}

.video-responsive iframe{
	left: 0;
	top: 0;
	height:100%;
	width: 100%;
	position: absolute;

}

.gallery {padding: 0 5px 0px 5px;}

h1 {font-family: 'Archivo Black', sans-serif;}

/*h2, h3, h4, h5 {font-family: 'Oswald', sans-serif;}*/

h1 {font-weight: 300;}
h2 {font-weight: 100;}

@media (min-width: 1200px) {
	.container {max-width: 960px !important;}
}


.poster {margin-bottom: 30px;}

.skinned {
	background-image: url("/images/Plates_Halftone.jpg");
	background-attachment: fixed;
	margin-bottom: -20px;
	background-size: 100% auto;
}

.streetdogs {
	background-image: url("/images/streetdogs/SD_Halftone.jpg");
	background-attachment: fixed;
	margin-bottom: -20px;
	background-size: 100% auto;
}

.bernard {
	background-image: url("/images/stbernard/underwater.jpg");
	background-attachment: fixed;
	margin-bottom: -20px;
	background-size: 100% auto;
}



/*#infobox {
	position: absolute;
	bottom: 35px;
	left: 0;
}*/

